/* ================= TOASTIFY FIX ================= */
/* Toastify ko sabse upar rakho */
.Toastify__toast-container {
  z-index: 999999 !important;
}

.Toastify__toast {
  z-index: 999999 !important;
}

.Toastify__toast-body {
  z-index: 999999 !important;
}

/* Custom alerts ke liye (agar aapke hain) */
.custom-alert {
  z-index: 999998 !important;
}

.modal-overlay {
  z-index: 100000 !important;
}